* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

body {
    background-color: rgb(20, 19, 19);
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 320px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

.row {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

input {
    padding: 20px;
    font-size: 16px;
    width: 70px;
    background-color: rgb(47, 51, 50);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input:hover {
    background-color: rgb(160, 160, 160);
}

.result {
    width: 100%;
    background-color: rgb(47, 51, 50);
    text-align: right;
}

.equal {
    width: 48%;
    background-color: rgb(0, 150, 255);
}

.clear {
    width: 48%;
    background-color: rgb(255, 42, 42);
}